$white: hsl(0, 0%, 100%);
$description-color: hsl(217, 12%, 63%);
$bg-color: hsl(213, 19%, 18%);
$num-color: rgb(42, 55, 63);
$body-color: hsl(216, 12%, 8%);
$orange: hsl(25, 97%, 53%);
$choice-color: rgba(251, 116, 19,.6);